.main{
    width: 100%;
    height: max-content;
    margin: 0 auto 80px;
    display: flex;
    padding-top: 30px;
    @media (max-width: 767px) {
        padding: 0;
        margin: 0 auto 30px;
    }
    &.nonactive{
        opacity: 0.2;
    }
    .main-content{
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px auto 0;
        height: max-content;
        @media (max-width: 1024px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        .mobileBtns{
            width: 100%;
            display: none;
            size: 12px;
            margin-top: 25px;
            @media (max-width: 767px) {
                display: flex;
                justify-content: space-between;
            }
            @media (max-width: 630px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .infoBtn{
                width: 100%;
                height: 48px;
                font-family: Arial, Helvetica, sans-serif;
                display: flex;
                color: white;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                align-items: center;
                border: none;
                font-weight: 700;
                margin-bottom: 10px;
                justify-content: center;
                border-radius: 6px;
                &:last-child{
                    margin: 0;
                }
                .num{
                    margin-right: 3px;
                }
                &.isActive{
                    background-color: rgb(39, 103, 199);
                }
            }
        }
        img{
            width: 290px;
            height: 290px;
            margin: auto 0;
            border-radius: 50%;
            @media (max-width: 767px) {
               margin-top: 70px;
            }
        }
        .infos{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40%;
            min-height: 400px;
            @media (max-width: 1024px) {
                width: 100%;
                margin: 0 auto;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            @media (max-width: 767px) {
                justify-content: center;
            }
            .features{
                width: 100%;
                @media (max-width: 1024px) {
                    width: 55%;
                }
                .namePlanet{
                    color: white;
                    text-transform: uppercase;
                    @media (max-width: 1024px) {
                        width: 55%;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                    }
                }
                .definition{
                    size: 14px;
                    color: white;
                    font-weight: 400;
                    word-wrap: break-word;
                    @media (max-width: 1024px) {
                        width: 90%;
                        margin-top: 24px;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .infoBtns{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                size: 12px;
                margin-top: 40px;
                @media (max-width: 1024px) {
                    width: 40%;
                }
                @media (max-width: 767px) {
                    display: none;
                }
                .infoBtn{
                    width: 100%;
                    height: 48px;
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    color: white;
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                    align-items: center;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    margin-bottom: 10px;
                    border-radius: 4px;
                    &:last-child{
                        margin: 0;
                    }
                    &:hover{
                        transform: scale(1.02);
                        background-color: gray;
                    }
                    &.isActive{
                        background-color: rgb(39, 103, 199);
                    }
                    .num{
                        width: 10%;
                        pointer-events: none;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        justify-content: end;
                        margin-right: 10px;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}